# --- Ignore large data/artifacts ---
*.zip
all_pdfs/
pdf_samples/

# --- Python / Streamlit junk ---
__pycache__/
*.pyc
.streamlit/

# --- Environment ---
.env
.env.*

# --- Virtual env ---
venv/
.venv/